/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 /* Config */
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root{
    scroll-behavior: smooth;
    --open-sans:'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --color-logo:#8E9089;
    --color-light:#ffffff;
    --color-primary:#056676;
    --color-footer:#141C3A;
 }


/* ===================================== NAVBAR */
.navbar{
    background: var(--color-light);
    min-height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.logo{
    min-width: 160px;
    max-width: 180px;
}

.nav-link{color: var(--color-footer);}
.nav-link:hover{color: var(--color-footer);}

.navbar-toggler:focus{outline: none;}
.icon_menu{
    font-size: 1.3em;
}

/* ====================================== BANNER */

.main_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 5rem;
    background: var(--color-banner);
    color: #ffffff;
    text-align: center;
    position: relative;
    height: 100vh;
}
.main_banner-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .9;
}
.main_banner-content{
    position: relative;
}
.main_banner-title{
    font-family: var(--poppins);
    font-size: 2.5em;
    line-height: 1.3em;
    margin: 0;
}
.main_banner-boton{
    background: var(--color-light);
    transition: .3s;
    margin-top: 2rem;
    padding: 0;
}
.main_banner_boton-link{
    color: var(--color-footer);
    font-family: var(--open-sans);
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: .3em .7em;
}
.main_banner_boton-link:hover{
    color: var(--color-light);
    text-decoration: none;
}
.main_banner_boton:focus{
    outline: none;    
}
.main_banner-boton:hover{
    background: transparent;
    border: 2px solid var(--color-primary);
}

/* =====================================  Area video */
.section_video{
    margin-bottom: 4rem;
    background: linear-gradient(180deg, #fcfcfc 70%, var(--color-light) 0);
}
.video_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.video_text h1{
    font-family: var(--open-sans);
    font-size: 2em;
    font-weight: 600;
    margin-top: 4rem;
    line-height: 3rem;
}
.video_text h2{
    width: 70%;
    margin: 1.5rem 0 2.5rem 0;
    font-family: var(--open-sans);
    font-size: 1.2em;
    font-weight: 400;
    line-height: 2rem;
}

.play-icon{
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    animation: pulse 1.5s infinite;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(0,0,0,.8);
    }
    70%{
        box-shadow: 0 0 0 25px rgba(0,0,0,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}

.modal-dialog{
    max-width: 560px;
}
.button_modal:focus{
    outline: none;
}

.video-container{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.video-container::after{
    padding-top:56.25%;
    display: block;
    content: '';
}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cerrar_modal{
    background: #DCDCDC;
}
.icon_close{
    font-family: var(--poppins);
    font-size: 2rem;
    color: var(--color-primary);
    background: transparent;
    border: none;
    text-shadow: none;
}

/* ==================================== Servicios */
.main_servicios{
    margin: 4rem 0;
}
.servicios{
    width: 100%;
    height: 300px;
    background: var(--color-primary);
}
.servicios .row{
    margin: 0;
    width: 100%;
    height: 100%;
}
.servicios_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title_servicios{
    font-family: var(--open-sans);
    font-size: 2em;
    font-weight: 600;
    color: var(--color-light);
}
.icon_row{
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    margin-top: -80px;
    background: var(--color-light);
    border-radius: 10px;
    padding: 10px 0;
}
[class*="fas"] {
    color: var(--color-primary);
    font-size: 2em;
}
.text-icon,.info_title{
    font-family: var(--open-sans);
    font-size: 1.3em;
    color: var(--color-footer);
    margin-top: .5rem;
    font-weight: 600;
}
.civil,.hogar,.comercial{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.civil,.hogar{
    border-right: 2px solid #e6e6e6;
    border-right-width: 1px;
}

/* ===================================== Más sobre nosotros */
.info_border{
    border-right: 2px solid #e6e6e6;
    border-right-width: 1px;
}
.info_container{
    text-align: center;
    margin-bottom: 4rem ;
}
.info_content{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info_title{
    font-family: var(--open-sans);
    font-size: 1.3em;
    font-weight: 600;
    line-height: 34px;
}
.info_text{
    margin: 2rem 0;
    font-family: var(--open-sans);
    font-size: 1.1em;
    font-weight: 400;
    line-height: 34px;
}

/* ====================================== Carousel / cta instagram*/
.instagram_container{
    margin-top: 10rem;
    margin-bottom: -95px;
}
.instagram_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.instagram_col{
    background: var(--color-primary);
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    z-index: 10!important;
}
.button_instagram{
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0;
    text-align: center;
}
.instagram_title{
    color: var(--color-light);
    font-family: var(--open-sans);
    font-weight: 600;
    font-size: 1.3em;
    margin: 0 1.5rem;
}
.instagram_cta{
    color: var(--color-light);
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 1.3em;
    margin: 0;
}

.carousel_container{
    max-height: 500px;
    overflow: hidden;
    margin: 4rem 0 0 0;
    z-index: 1!important;
}
.carousel_img{
    object-fit: cover;
    object-position: bottom;
}


/* ================================== Footer */

.logo_footer{
    width: 70px;  
}
.footer_row{
    margin: 0;
    background: var(--color-footer);
    padding: 4rem 0;
}
.footer_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_title{
    color: var(--color-light);
}
.nav_footer-link{
    color: var(--color-light);
}
.nav_footer{
    margin: 1rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav_footer-item{
    margin-right: .7rem;
}
.nav_footer-link:hover{
    color: var(--color-light);
    text-decoration: none;
}
.icon_social-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
[class*="fab"]{
    color: var(--color-light);
    font-size: 1.5em;
    margin-right: 2rem;
}
.derechos_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.derechos_icon{
    color: var(--color-light);
    margin-right: .3rem;
}
.derechos_text{   
    color: var(--color-light);
    margin: 0;
    margin-right: .7rem;
}
.derechos_link{
    color: var(--color-light);
}
.derechos_link:hover{
    color: var(--color-light);
    text-decoration: none;
}
.derechos_icon,.derechos_text, .derechos_link{
    font-size: .8em;
}

/* ================================================= MEDIA QUERIES */

@media screen and (max-width:768px){
    .main_banner-title{
        font-size: 1.8em;
    }
    .main_banner-title h1{
        font-size: 2em;
        line-height: 2.7rem;
    }
    .video_text h2{
        width: 100%;
        font-size: 1.1em;
    }
    /* ============== servicios */
    .icon_container{
        width: 97%;
    }
    .title_servicios{
        font-size: 1.5em;
    }
    .civil,.hogar{
        border-bottom: 2px solid #e6e6e6;
        border-bottom-width: 1px;
        border-right: none;
    }
    .info_border{
        border-bottom: 2px solid #e6e6e6;
        border-bottom-width: 1px;
        border-right: none;
    }
    .info_margin{
        margin-bottom: 2rem;
    }
    /* =============== cta social media */
    .button_instagram{
        flex-direction: column;
    }
    .footer_col{
        text-align: center;
    }
    .footer_title{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .nav_footer{
        flex-direction: column;
    }
    .nav_footer-item{
        margin-bottom: .7rem;
    }
    .derechos_container{
        flex-direction: column;
    }
    .derechos_icon{
        margin-bottom: .3rem;
    }
    .derechos_text{
        margin-bottom: .3rem;
    }
    [class*="fab"]{
        margin-right: 0;
    }
    .margin_insta{
        margin: 0 1.4rem;
    }
    .icon_social-container{
        margin: -0.5rem 0 2rem 0;
    }
}